.button{
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

.button:hover .img{
    transform: scale(1.2);
}

.img{
    transition: transform 0.2s;
}

.counter{
    position: absolute;
    left: 57%;
    bottom: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
    color: #FFFFFF;
    min-height: 18px;
    min-width: 18px;
    border-radius: 50%;
    background-color: #FFA542;
}